@font-face {
    font-family: 'Omnes';
    src: url('Omnes-Light.eot');
    src: url('Omnes-Light.eot?#iefix') format('embedded-opentype'),
        url('Omnes-Light.woff2') format('woff2'),
        url('Omnes-Light.woff') format('woff'),
        url('Omnes-Light.ttf') format('truetype'),
        url('Omnes-Light.svg#Omnes-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

