//$color:#a7d62a;
$color_primary: linear-gradient(180deg, rgba(161,62,82,1) 35%, rgba(147,53,77,1) 100%);
$color_tex_primary:#3c0b48;
$color_secondary: linear-gradient(177deg, rgba(242,211,104,1) 35%, rgba(226,194,92,1) 100%);
$color_tex_secondary:  #e07555;
$color_other: linear-gradient(180deg, #fb7a57b8 35%, #cc6544 100%);
$whrite_color:#ffff;
.content-card-items{
  padding: 60px 15px;
  width: 100%;
  box-sizing: border-box;
  background: $color_other;
  .card-item{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    background: $color_secondary;
    margin-bottom: 15px;
    padding: 10px;
    font-weight: bold;
    color: $color_tex_secondary;
    .image-item{
      display: block;
      position: relative;
      height: 100%;
      flex: 1.5;
      //width: 80px;
      .mat_card_image{
        left: 0px;
        top: 0px;
        height: calc(100% + 10px);
        min-width: 120px;
        width: 100%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
    .mat-card-content{
      padding: 0 10px 0;
      flex: 5;
      margin:0;
      .mat-card-subtitle{
        color: $color_tex_secondary;
        font-weight: 400;
      }
    }
    .mat-card-actions{
      flex: .5;
    }
  }
}
.mat-tab-label-content{
  color: $color_tex_primary;
  font-weight: 800;
}
.quantity{
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  top: 0;
  border-radius: 10px;
  background: $whrite_color;
  color: $color_secondary;
}
.mat-fab .mat-button-wrapper{
  color: $color_tex_primary;
}
/****button******/
.send-button-conten{
  z-index:5; 
  position : fixed;
  display : flex; 
  flex-flow: row nowrap;
  justify-content: last baseline;
  align-items: center;
  bottom : 10px; 
  right: 20px;
}
.ayuda-button-conten{
  z-index:5; 
  position : fixed;
  display : flex; 
  flex-flow: row nowrap;
  justify-content: last baseline;
  align-items: center;
  bottom : 10px; 
  left: 10px;
  .mat-raised-button{
    color: $color_tex_primary;
  }
  
}
.mat-button-toggle-appearance-standard{
  color: $color_tex_secondary !important;
}
.mat-tab-group.mat-primary .mat-ink-bar{
  background-color: #f2d368;
  height: 4px;
}
.send-button{
    margin-right: 10px !important;
    padding: 0 10px !important;
    border-radius: 40px !important;
    background: $color_primary !important;
    box-shadow: 0px 0px 14px 1px rgba(101, 154, 185, 0.08), 0px 0px 15px 2px rgba(99, 159, 195, 0.14), 4px 4px 3px 1px rgba(68, 119, 125, 0.2) !important;
}
.send-button:hover{
  box-shadow: 0px 0px 14px 1px rgba(38, 168, 112, 0.11), 0px 0px 15px 2px rgba(99, 159, 195, 0.32), 4px 4px 3px 1px rgba(68, 119, 125, 0.43) !important;
}
.send-button-conten *, .ayuda-button-conten *{
  cursor: pointer !important;
}
.mat-fab .mat-button-wrapper {
  padding: 0 !important;
}
.matgroup-content>.mat-tab-header {
  background: $color_primary;
  position: fixed;
  z-index: 99;
  width: 100%;
}
.mat-button-toggle-label-content{
  line-height: 26px !important;

}
.mat-button-toggle-checked {
  background: $color_primary;
  color: rgba(0,0,0,.54);
}
.mat-fab.mat-accent{
  background: $color_primary !important;
}
.mat_card_actions{
  height: inherit !important;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 0px 8px;
  align-items: center;
  .mat-icon{
    height: 20px;
  }
}
.quantity-add-item {
  padding: 0px 7px;
  background: $whrite_color;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  cursor: pointer;
  outline: 0;
  user-select: none;
  border: none;
  border-left: solid 1px #9a394f8c;
  color: $color_tex_secondary;
  .mat-icon{
    height: 20px;
  }
}
.quantity-remove-item {
  padding: 0px 7px;
  background: $whrite_color;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  cursor: pointer;
  outline: 0;
  user-select: none;
  border: none;
  border-right: solid 1px #9a394f8c;
  color: $color_tex_secondary;
}
.item-quantity {
  padding: 4px;
}
button.add-plato.mat-button {
  background: $whrite_color;;
  width: 100%;
  margin: 12px 0 0 0;
}
.name-card-menu.mat-card-title {
  font-size: 1.2em;
  font-weight: 600;
}
.icon-bandeja-pedido {
  height: 48px !important;
    width: 42px !important;
    font-size: 3em;
}