
<mat-tab-group class="matgroup-content">
  <ng-template ngFor let-item [ngForOf]="carta">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">{{item.icon}}</mat-icon>
        {{item.groupName}}
      </ng-template>
      <div class="content-card-items">
        <mat-card *ngFor="let plato of item.platos" class="card-item">
          <div class="image-item">
              <img class="mat_card_image" src="https://cubiro.com/wp-content/uploads/2017/07/arroz-con-pollo.jpg" alt="Photo of a Shiba Inu">
          </div>
          <mat-card-content>
              <mat-card-title class="name-card-menu">{{plato.saucerName}}</mat-card-title>
              <mat-card-subtitle>{{plato.saucerDesc}} The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.</mat-card-subtitle>
              <div class="select-options-aditionals">
                  <mat-button-toggle-group [(ngModel)]="plato.optSpecific.defaulOpt">
                      <mat-button-toggle  *ngFor="let opt of plato.optSpecific.options" [value]="opt.nameOption" aria-label="Text align left">
                        {{opt.nameOption}}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
              </div>
          </mat-card-content>
          <div class="mat_card_actions">
            <div class="quantity">
                <button [disabled]="plato.quantityAdd == 0" class="quantity-remove-item" (click) = "plato.quantityAdd = plato.quantityAdd - 1"><mat-icon>remove</mat-icon></button>
                <div class="item-quantity">{{plato.quantityAdd}}</div>
                <button class="quantity-add-item" (click) = "plato.quantityAdd = plato.quantityAdd + 1"><mat-icon>add</mat-icon></button>
            </div>
            <button [disabled]="plato.quantityAdd == 0" (click)="plato.quantityAdd = addItemToOrder(plato,item.groupName);" mat-button class="add-plato">Añadir</button>
          </div>
        </mat-card>
      </div>
    </mat-tab>
  </ng-template>
</mat-tab-group>
<div class="ayuda-button-conten">
  <a routerLink="." class="send-button" (click) = "ayuda();" mat-raised-button color="accent">
      <ng-container *ngIf="spinerstate else ayudaactive">
          <mat-icon><mat-spinner color="accent" diameter="20"></mat-spinner></mat-icon>
          <label for="Send" style="margin-left:5px;">ok...</label>
      </ng-container>
      <ng-template #ayudaactive>
          <mat-icon>person</mat-icon>
          <label for="Send" style="margin-left:5px;">ayuda</label>
      </ng-template>
  </a>
</div>


    <div class="send-button-conten">
      <ng-container *ngIf="totalItemsOrder>=1">
      <a class="send-button" (click) = "sendOrder();" mat-raised-button color="accent">
          <ng-container *ngIf="spinerstate else spineractive">
              <mat-icon><mat-spinner color="accent" diameter="20"></mat-spinner></mat-icon>
              <label for="Send" style="margin-left:5px;">Generando</label>
          </ng-container>
          <ng-template #spineractive>
              <label for="Send" style="margin-left:5px;">Enviar pedido</label>
              <mat-icon>near_me</mat-icon>
          </ng-template>
      </a>
      </ng-container>
      <button mat-fab aria-label="Example icon-button with a heart icon" [matMenuTriggerFor]="aboveMenu">
          <mat-icon [matBadge]="totalItemsOrder" class="icon-bandeja-pedido">room_service</mat-icon>
      </button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>

