<div class="item" [class.item--active]="isActive">
  <div class="item__img">
    <img src="image.jpg">
  </div>
  <div class="item__content">
    <div class="item__content__name">{{item.table}}</div>
    <div class="item__content__email">{{item.id}}</div>
  </div>
</div>
