<div class="content-gebneral">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Pendientes</mat-card-title>
          </mat-card-header>
          <group-viewer>
            <item-order *ngFor="let pednd of ordersPending" [fruta]="pednd"></item-order>
          </group-viewer>
        </mat-card>
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>En proceso</mat-card-title>
          </mat-card-header>
          <group-viewer>
            <item-order *ngFor="let proces of ordersProcessing" [fruta]="proces"></item-order>
          </group-viewer>
       </mat-card>
       <mat-card class="card">
          <mat-card-header>
              <mat-card-title>Listos</mat-card-title>
            </mat-card-header>
          <group-viewer>
            <item-order *ngFor="let ready of ordersReady" [fruta]="ready"></item-order>
          </group-viewer>
       </mat-card>
</div>