:host {
    display: block;
    padding: 1rem;
  }
  .content-gebneral{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    .mat-card{
      flex: 1;
      margin: 0px 10px 0px;
    }
  }