
<div class="users-page">
        <div class="users-page__loading" *ngIf="isLoadingUsers">
          Loading Users
        </div>
        <div class="users-age__main" *ngIf="!isLoadingUsers">
          <h3 class="users-page__main__heading">
            Users List
          </h3>
          <div class="users-page__main__search">
            
          </div>
          <!---
          <div class="users-page__main__list">
            <app-list-item
              *ngFor="let user of users"
              class="users-page__main__list__item"
              [item]="user"
              (itemSelected)="showUserInfo($event)">
            </app-list-item>
          </div>
          -->
        </div>
      </div>