
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{fruta.saucerName}}</mat-card-title>
      <mat-card-subtitle>{{fruta.category}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip color="primary" selected>{{fruta.optSpecific}}</mat-chip>
     </mat-chip-list>
    </mat-card-content>
  </mat-card>