*{
  pad: 0;
  margin: 0;
}
:host {
    display: block;
    margin: 1rem 0;
    background-color: #0090FF;
    transition: all 0.3s;
    outline: none;
    color: white;
    border-radius: 4px;
  }

  :host(:focus) {
    background-color: #28BF5F;
    transform: translateX(1rem);
  }
  .example-card {
    background-color: transparent !important;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }